
section.msite .msite_nav {
  position: relative;
  margin-top: 45px;
  height: 200px;
  background: #fff;
}
section.msite .msite_nav::before {
  content: '';
  position: absolute;
  z-index: 200;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #e4e4e4;
  transform: scaleY(0.5);
}
section.msite .msite_nav .swiper-container {
  width: 100%;
  height: 100%;
}
section.msite .msite_nav .swiper-container .swiper-wrapper {
  width: 100%;
  height: 100%;
}
section.msite .msite_nav .swiper-container .swiper-wrapper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
section.msite .msite_nav .swiper-container .swiper-wrapper .swiper-slide .link_to_food {
  width: 25%;
}
section.msite .msite_nav .swiper-container .swiper-wrapper .swiper-slide .link_to_food .food_container {
  display: block;
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
  font-size: 0;
}
section.msite .msite_nav .swiper-container .swiper-wrapper .swiper-slide .link_to_food .food_container img {
  display: inline-block;
  width: 50px;
  height: 50px;
}
section.msite .msite_nav .swiper-container .swiper-wrapper .swiper-slide .link_to_food span {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 13px;
  color: #666;
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
  background: #02a774;
}

section.msite .msite_shop_list {
  position: relative;
  margin-top: 10px;
  background: #fff;
}
section.msite .msite_shop_list::before {
  content: '';
  position: absolute;
  z-index: 200;
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
  background-color: #e4e4e4;
}
section.msite .msite_shop_list .shop_header {
  padding: 10px 10px 0;
}
section.msite .msite_shop_list .shop_header .shop_icon {
  margin-left: 5px;
  color: #999;
}
section.msite .msite_shop_list .shop_header .shop_header_title {
  color: #999;
  font-size: 14px;
  line-height: 20px;
}
